:root{
  --font-sans:verdana, "Lucida Grande", sans-serif;
  --base-lightest:#ffffff;
  --base-lighter:#dfe1e2;
  --base-light:#a9aeb1;
  --base:#71767a;
  --base-dark:#565c65;
  --base-darker:#3d4551;
  --base-darkest:#212121;

  --white:var(--base-lightest);
  --black:#000000;

  --primary-lightest:#e5faff;
  --primary-lighter:#a8f2ff;
  --primary-light:#52daf2;
  --primary:#0081a1;
  --primary-vivid:#0050d8;
  --primary-dark:#00687d;
  --primary-darker:#0e4f5c;
  --primary-darkest:#093b44;

  --secondary-lightest:#f9f0f2;
  --secondary-lighter:#ffddea;
  --secondary-light:#ffb4cf;
  --secondary:#d72d79;
  --secondary-vivid:#e41d3d;
  --secondary-dark:#ab2165;
  --secondary-darker:#731f44;
  --secondary-darkest:#4f172e;

  --accent-warm-lightest:#fef0c8;
  --accent-warm-lighter:#ffe396;
  --accent-warm-light:#ffbe2e;
  --accent-warm:#936f38;
  --accent-warm-dark:#7a591a;
  --accent-warm-darker:#5c410a;
  --accent-warm-darkest:#3b2b15;

  --accent-cool-lightest:#f7f2ff;
  --accent-cool-lighter:#ede3ff;
  --accent-cool-light:#d5bfff;
  --accent-cool:#9355dc;
  --accent-cool-dark:#783cb9;
  --accent-cool-darker:#54278f;
  --accent-cool-darkest:#39215e;

  --error-lighter:#f4e3db;
  --error-light:#f39268;
  --error:#d54309;
  --error-dark:#b50909;
  --error-darker:#6f3331;

  --warning-lighter:#faf3d1;
  --warning-light:#fee685;
  --warning:#ffbe2e;
  --warning-dark:#e5a000;
  --warning-darker:#936f38;

  --success-lighter:#ecf3ec;
  --success-light:#70e17b;
  --success:#00a91c;
  --success-dark:#008817;
  --success-darker:#216e1f;

  --info-lighter:#e1f3f8;
  --info-light:#c3ebfa;
  --info:#59b9de;
  --info-dark:#0d7ea2;
  --info-darker:#074b69;

  --disabled-light:#e6e6e6;
  --disabled:#c9c9c9;
  --disabled-dark:#adadad;

  --emergency:#8b0a03;
  --emergency-dark:#332d29;
}
.mb-5{
  margin-bottom:0.3125rem;
}
.mt-10{
  margin-top:0.625rem;
}
.mb-10{
  margin-bottom:0.625rem;
}
.mt-15{
  margin-top:0.9375rem;
}
.mb-15{
  margin-bottom:0.9375rem;
}
.mt-20{
  margin-top:1.25rem;
}
.mb-20{
  margin-bottom:1.25rem;
}
.mt-25{
  margin-top:1.5625rem;
}
.mb-25{
  margin-bottom:1.5625rem;
}
.mt-30{
  margin-top:1.875rem;
}
.mb-30{
  margin-bottom:1.875rem;
}
.mt-35{
  margin-top:2.1875rem;
}
.mb-35{
  margin-bottom:2.1875rem;
}
.mt-40{
  margin-top:2.5rem;
}
.mb-40{
  margin-bottom:2.5rem;
}
.mt-45{
  margin-top:2.8125rem;
}
.mb-45{
  margin-bottom:2.8125rem;
}
.mt-50{
  margin-top:3.125rem;
}
.mb-50{
  margin-bottom:3.125rem;
}
.mt-60{
  margin-top:3.75rem;
}
.mb-60{
  margin-bottom:3.75rem;
}
.mt-70{
  margin-top:4.375rem;
}
.mb-70{
  margin-bottom:4.375rem;
}
.mt-80{
  margin-top:5rem;
}
.mb-80{
  margin-bottom:5rem;
}
.pt-5{
  padding-top:0.3125rem;
}
.pb-5{
  padding-bottom:0.3125rem;
}
.pt-10{
  padding-top:0.625rem;
}
.pb-10{
  padding-bottom:0.625rem;
}
.pt-15{
  padding-top:0.9375rem;
}
.pb-15{
  padding-bottom:0.9375rem;
}
.pt-20{
  padding-top:1.25rem;
}
.pb-20{
  padding-bottom:1.25rem;
}
.pt-25{
  padding-top:1.5625rem;
}
.pb-25{
  padding-bottom:1.5625rem;
}
.pt-30{
  padding-top:1.875rem;
}
.pb-30{
  padding-bottom:1.875rem;
}
.pt-35{
  padding-top:2.1875rem;
}
.pb-35{
  padding-bottom:2.1875rem;
}
.pt-40{
  padding-top:2.5rem;
}
.pb-40{
  padding-bottom:2.5rem;
}
.pt-45{
  padding-top:2.8125rem;
}
.pb-45{
  padding-bottom:2.8125rem;
}
.pt-50{
  padding-top:3.125rem;
}
.pb-50{
  padding-bottom:3.125rem;
}
.pt-60{
  padding-top:3.75rem;
}
.pb-60{
  padding-bottom:3.75rem;
}
.pt-70{
  padding-top:4.375rem;
}
.pb-70{
  padding-bottom:4.375rem;
}
.pt-80{
  padding-top:5rem;
}
.pb-80{
  padding-bottom:5rem;
}
.mt-0{
  margin-top:0;
}
.pt-0{
  padding-top:0;
}
.mb-0{
  margin-bottom:0;
}
.pb-0{
  padding-bottom:0;
}
.pl-0{
  padding-left:0;
}
.pr-0{
  padding-right:0;
}
html{
  box-sizing:border-box;
  font-size:1rem;
}
*,
*:after,
*:before{
  box-sizing:inherit;
}
body{
  font-size:100%;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height:1.7;
  font-family:"Noto Sans Thai", Verdana, sans-serif;
  color:var(--black);
  overflow-x:hidden;
}
.layout-content{
  --max-width:78.75rem;

  max-width:var(--max-width);

  margin:0 auto;

  padding-left:0.9375rem;

  padding-right:0.9375rem;
}
.h1,
h1{
  font-size:2.875rem;
  margin-bottom:1.5625rem;
  letter-spacing:0.1875rem;
  line-height:1.1;
  margin-top:0;
  font-weight:700;
}
@media (min-width: 1024px){
.h1,
h1{
    font-size:4.25rem;
    margin-bottom:1.6875rem
}
  }
.h2,
h2{
  font-size:1.5rem;
  margin-bottom:0.875rem;
  letter-spacing:0.0625rem;
  line-height:2rem;
  margin-top:0;
}
@media (min-width: 1024px){
.h2,
h2{
    font-size:1.75rem;
    margin-bottom:1rem;
    line-height:2.25rem
}
  }
.h3,
h3{
  font-size:1.25rem;
  margin-bottom:0.625rem;
  line-height:1.75rem;
  margin-top:0;
}
@media (min-width: 1024px){
.h3,
h3{
    font-size:1.5rem;
    margin-bottom:0.75rem;
    line-height:2.125rem
}
  }
.h4,
h4{
  font-size:1.25rem;
  margin-bottom:0.625rem;
  line-height:1.75rem;
  margin-top:0;
}
.h5,
h5{
  font-size:1.125rem;
  margin-bottom:0.5625rem;
  line-height:1.5rem;
  margin-top:0;
}
.h6,
h6{
  font-size:1rem;
  margin-bottom:0.5rem;
  line-height:1.5625rem;
  margin-top:0;
}
p,
li{
  font-size:1.125rem;
}
.layout-content{
  --max-width:78.75rem;

  max-width:var(--max-width);

  margin:0 auto;

  padding-left:0.9375rem;

  padding-right:0.9375rem;
}
.component__item{
  margin-bottom:3.125rem;
}
.header .menu{
    margin-top:0;
    margin-bottom:0;
  }
.region-header{
  display:flex;
  align-items:center;
}
.top-bar{
  background-color:var(--accent-cool-darkest);
}
.top-bar__wrap{
  --max-width:78.75rem;

  max-width:var(--max-width);

  margin:0 auto;

  padding-left:0.9375rem;

  padding-right:0.9375rem;
}
.page-header{
  padding:0.75rem 0 0.125rem 0;
  margin-bottom:1.25rem;
  border-bottom:3px dashed var(--base-darkest);
}
.page-header__wrap{
  --max-width:78.75rem;

  max-width:var(--max-width);

  margin:0 auto;

  padding-left:0.9375rem;

  padding-right:0.9375rem;
}
.site-name{
  position:absolute !important;
  clip:rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  overflow:hidden;
  height:0.0625rem;
  width:0.0625rem;
  word-wrap:normal;
}
.site-logo img{
    width:7.5rem;
    height:auto;
  }
.main-menu{
  display:flex;
}
.main-menu__item{
  list-style:none;
}
a.main-menu__item-link{
  color:var(--white);
  margin-right:0.625rem;
}
ul.utility-menu{
  list-style:none;
  margin:0;
  display:flex;
  justify-content:flex-end;
  padding:0.25rem 0;
}
.utility-menu__item-link{
  color:var(--white);
  margin-right:0.375rem;
}


/*# sourceMappingURL=global.css.map*/