@import "../../_css/utils/_index.css";

.c-accordion__item {
  margin-top: 8px;
  border: 1px solid var(--primary-dark);
  background-color: var(--base-lightest);
  box-sizing: border-box;
}

.c-accordion__item-header {
  margin: 0;
  padding: 0;
  background-color: var(--primary-dark);
  font-size: 18px;
}

.c-accordion__item-trigger {
  color: var(--white);
  font-weight: 600;
  text-align: left;
  width: 100%;
  padding: 8px 32px 8px 8px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
}

.c-accordion__item-trigger:after {
  content: "+";
  text-align: center;
  width: 15px;
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
}

.c-accordion__item-trigger:hover,
.c-accordion__item-trigger:focus {
  color: var(--white);
  outline: 1px solid var(--base-darkest);
  background-color: var(--secondary-darker);
}

.c-accordion-item__panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
  visibility: hidden;
}

.c-accordion-item__text {
  color: var(--base-darkest);
  padding: 8px;
  margin: 0;
}

.c-accordion__item.is-active .c-accordion-item__panel {
  visibility: visible;
}

.c-accordion__item.is-active .c-accordion__item-trigger:after {
  content: "–";
}
