.c-hero {
  background-color:var(--black);
  margin:0 -50vw;
  width:100vw;
  position:relative;
  left:50%;
  right:50%;
  overflow:hidden;
}

@media (width >= 1024px) {
  .c-hero__wrap {
    margin-left:-1.5625rem;
    margin-right:-1.5625rem;
    display:flex;
    flex-flow:row wrap;
  }

  .c-hero__wrap > * {
    padding-left:1.5625rem;
    padding-right:1.5625rem;
    flex-grow:0;
    flex-shrink:0;
    min-height:0.0625rem;
    width:50%;
  }

  .c-hero__wrap {
    align-items:center;
  }
}

.c-hero__content-wrap {
  padding:1.25rem 1.875rem 1.25rem 1.25rem;
}

@media (width >= 1024px) {
  .c-hero__content-wrap {
    padding:1.875rem 2.5rem 1.875rem 3.125rem
  }
}

.c-hero__heading > h1 {
  color:var(--white);
}

.c-hero__media {
  line-height:0;
}

.c-hero__media img {
  width:100%;
  height:auto;
}

.c-hero__body-text {
  color:var(--white);
}