@import "../../_css/utils/_index.css";

.c-hero {
  background-color: var(--black);
  @mixin full-width;
}

.c-hero__wrap {
  @media (--large) {
    /* @mixin grid-cols 50%; */
    display: flex;
    align-items: center;
  }
}

.c-hero__content-wrap {
  padding: 20px 30px 20px 20px;

  @media (--large) {
    padding: 30px 40px 30px 50px;
    width: 40%;
  }
}

.c-hero__media-wrap {
  width: 60%;
}

.c-hero__heading {
  > h1 {
    color: var(--white);
  }
}

.c-hero__media {
  line-height: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.c-hero__body-text {
  color: var(--white);
}
