@import "../../../src/css/utils/_index.css";

.c-hero {
  background-color: var(--black);
  @mixin full-width;
}

.c-hero__media {
  line-height: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.c-hero__heading {
  > h2 {
    color: var(--white);
  }
}

.c-hero__body-text {
  color: var(--white);
}
